@use "../../styles/partials/variables" as var;
@use "../../styles/partials/responsive" as res;
@use "../../styles/partials/functions" as func;

.profile{

    &__content{
        display: flex;
        flex-direction: column;
        padding: 30px func.size-to-vw(var.$mobile, 16px);

        @include res.tablet-up{
            justify-content: space-around;
            flex-direction: row;
            padding: 30px func.size-to-vw(var.$tablet, 24px);
        }

        @include res.laptop-up{
            padding:50px func.size-to-vw(var.$laptop, 180px);
        }
    }
}