@use "../../styles/partials/variables" as var;
@use "../../styles/partials/responsive" as res;
@use "../../styles/partials/functions" as func;

.design {
    padding: 0 func.size-to-vw(var.$mobile, 16px) 32px;
    display: flex;
    flex-direction: column;

    @include res.tablet-up {
        padding: 0 func.size-to-vw(var.$tablet, 24px) 32px;
    }
    @include res.laptop-up {
        padding: 0 func.size-to-vw(var.$laptop, 180px) 32px;
    }

    &__mainImage {
        width: 100%;
        height: 60vw;
        object-fit: cover;
        align-self: center;

        @include res.tablet-up{
            width: 80%;
            height: 50vw;
            height: initial;
        }
        @include res.laptop-up{
            width: 70%;
            height: 40vw;
            height: initial;
        }
    }

    &__selection {
        margin-top: 16px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__image {
        width: 23%;
        object-fit: cover;
        margin: 4px 0;

        @include res.tablet-up {
            width: 15%;
        }

        @include res.laptop-up {
            width: 5%;
        }
    }
}
