@use "../../styles/partials/variables" as var;

.header {
    background-color: var.$primary;

    &__search {
        position: relative;
        padding: 8px 16px;
    }

    &__input {
        width: 100%;
        padding: 8px 36px 8px 16px;
    }

    &__searchButton {
        background-color: transparent;
        outline: none;
        border: none;
        position: absolute;
        right: 16px;
        top: 8px;
        padding: 4px 8px;

        &:hover {
            background-color: var.$light;
        }
    }

    &__icon {
        width: 24px;
    }
}
