@use "../../styles/partials/variables" as var;
@use "../../styles/partials/responsive" as res;
@use "../../styles/partials/functions" as func;

.header {
    background-color: var.$primary;
    padding: 0 func.size-to-vw(var.$mobile, 16px) 8px;

    @include res.tablet-up {
        display: flex;
        justify-content: flex-end;
        padding: 8px func.size-to-vw(var.$tablet, 32px);
    }

    @include res.laptop-up{
        padding: 8px func.size-to-vw(var.$laptop, 180px);
    }

    &__search {
        position: relative;
        margin: 8px 0;
        overflow: hidden;
        border-radius: 5px;

        @include res.tablet-up {
            margin-left: auto;
            margin-right: 8px;
            width: func.size-to-vw(var.$tablet, 200px);
        }
    }

    &__input {
        width: 100%;
        padding: 8px 36px 8px 16px;
    }

    &__searchButton {
        background-color: transparent;
        outline: none;
        border: none;
        position: absolute;
        right: 0;
        top: 0;
        padding: 4px 8px;

        &:hover {
            background-color: var.$light;
        }
    }

    &__icon {
        width: 24px;
    }
}
